<a href="https://colab.research.google.com/github/taido83/ueh25_kythuatlaptrinh_stata_python_st3/blob/main/buoi3_250819/python101_ST3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 101

## Trình biên dịch (compiler) vs. Thông dịch

In [1]:
%%writefile first.cpp
#include <stdio.h>
int main(void) {
  int a=27, b=6, c;
  c = a%b;
  printf("The value of c is %d.\n", c);
  return 0;
}

Writing first.cpp

In [9]:
!cat first.cpp
print("-"*50)

print('Compile...')
!gcc first.cpp -o first
!ls

print("-"*50)
print('Execute...')
!./first

#include <stdio.h>
int main(void) {
  int a=27, b=6, c;
  c = a%b;
  printf("The value of c is %d.\n", c);
  return 0;
}
--------------------------------------------------
Compile...
drive  first  first.cpp  sample_data
--------------------------------------------------
Execute...
The value of c is 3.

In [10]:
%%writefile first.py
a = 27
b = 6
c = a%b;
print("The value of c is %d.\n"% c)

Writing first.py

In [13]:
!cat first.py
print("-"*50)
print("Interpret...")
%run first.py

a = 27
b = 6
c = a%b;
print("The value of c is %d.\n"% c)
--------------------------------------------------
Interpret...
The value of c is 3.

In [14]:
print(a, b, c)

27 6 3

## Ngôn ngữ lập trình

In [17]:
from IPython.display import display

In [18]:
print("Hello, World!")
display('Hello, World!')

Hello, World!

'Hello, World!'

In [20]:
# comment
'''
comment
'''
print('comment')

comment

In [23]:
# indent
score = 80
if score >= 60:
  print("Pass")
  pass # dummy

Pass

In [28]:
# variable
x = 2
print(x, type(x))

price = 2.5
print(price, type(price))

word = 'Hello'
word = "Hello"
print(word, type(word))

word = """
Hello
"""
print(word, type(word))

2 <class 'int'>
2.5 <class 'float'>
Hello <class 'str'>

Hello
 <class 'str'>

In [31]:
x = 2
y = x + 1
print(f'x = {x}, y = {y}')
print('x = %d, y = %d'%(x, y))

x = 2, y = 3
x = 2, y = 3

In [33]:
# comment
from platform import python_version
print('Python version: %s'%python_version())

Python version: 3.11.13

## Kiểu dữ liệu

In [39]:
x = "Hello World" #str
print(x, type(x))
x = 2 #int
print(x, type(x))
x = 2.5 #float
print(x, type(x))
x = 7j + 3 #complex
print(x, type(x))

Hello World <class 'str'>
2 <class 'int'>
2.5 <class 'float'>
(3+7j) <class 'complex'>

In [48]:
# container

x = ["apple", "banana", "cherry"] #list: chứa các đối tượng khác
x[2] = 'hello'
print(x, x[2])

x = ("apple", "banana", "cherry") #tuple: chứa các đối tượng khác, readonly
# x[2] = 10 # error
print(x, x[2])

x = range(6) #range: r(6)=[0,5], r(min, max): [min,max)
print(x, list(x)) # iterator: chỉ cấp phát khi sử dụng (kiểu iterator)

x = {"name" : "Tom", "age" : 20} # dict {k, v}
print(x, x['age'])

x = {"apple", "banana", "cherry", "apple"} #set
print(x)

x = frozenset({"apple", "banana", "cherry"})# frozenset
print(x)

['apple', 'banana', 'hello'] hello
('apple', 'banana', 'cherry') cherry
range(0, 6) [0, 1, 2, 3, 4, 5]
{'name': 'Tom', 'age': 20} 20
{'apple', 'cherry', 'banana'}
frozenset({'apple', 'cherry', 'banana'})

In [52]:
x = True #bool
print(x, type(x))

x = b"Hello" #bytes
print(x, type(x))

x = bytearray(5) #bytearray
print(x, type(x))

x = memoryview(bytes(5)) #memoryview
print(x, type(x))

x = None #NoneType
print(x, type(x))

True <class 'bool'>
b'Hello' <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>
<memory at 0x7bd876fdb880> <class 'memoryview'>
None <class 'NoneType'>

## Ép kiểu (casting)

In [57]:
x = str(3) # x will be '3'
print(x, type(x))

y = int(3.5) # y will be 3
print(y, type(y))

z = float(3) # z will be 3.0
print(z, type(z))

print(list(range(6)))
print(set([1, 4, 2, 1, 1, 2, 3, 4]))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>
[0, 1, 2, 3, 4, 5]
{1, 2, 3, 4}

In [59]:
# Numbers
x = 2 # int
y = 3.4 # float
z = 7j #complex

print(x, type(x))
print(y, type(y))
print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
7j <class 'complex'>

In [61]:
'''Arithmetic Operators
Operator Name Example
+ Addition 7 + 2 = 9
- Subtraction 7 - 2 = 5
* Multiplication 7 * 2 = 14
/ Division 7 / 2 = 3.5
// Floor division 7 // 2 = 3 (Quotient)
% Modulus 7 % 2 = 1 (Remainder)
** Exponentiation 7 ** 2 = 49
'''

'Arithmetic Operators\nOperator Name Example\n+ Addition 7 + 2 = 9 \n- Subtraction 7 - 2 = 5 \n* Multiplication 7 * 2 = 14 \n/ Division 7 / 2 = 3.5 \n// Floor division 7 // 2 = 3 (Quotient)\n% Modulus 7 % 2 = 1 (Remainder)\n** Exponentiation 7 ** 2 = 49\n'

In [63]:
print('7 + 2 =', 7 + 2)
print('7 - 2 =', 7 - 2)
print('7 * 2 =', 7 * 2)
print('7 / 2 =', 7 / 2)
print('7 // 2 =', 7 // 2)
print('7 % 2 =', 7 % 2)
print('7 ** 2 =', 7 ** 2)

7 + 2 = 9
7 - 2 = 5
7 * 2 = 14
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1
7 ** 2 = 49

In [66]:
# Kiểu Boolean: True/False
print(3 > 2)
print(3 == 2)
print(3 < 2)

True
False
False

$$bmi = \frac{w}{h^2}$$

In [69]:
# Tính toán BMI
# input
height_cm = 170
weight_kg = 60

# process
height_m = height_cm / 100
bmi = (weight_kg / (height_m ** 2))

# result
print("Your BMI is: " + str(round(bmi,1)))

Your BMI is: 20.8

In [70]:
# Future value of a specified principal amount, rate of interest, and a number of years
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))
# output = 194.87

fv =  194.87

In [71]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

In [72]:
# Future Value
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7
future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

## Data Structure

In [80]:
x = ["apple", "banana", "cherry", "cherry"] #list
print(x, type(x))

x = ("apple", "banana", "cherry") #tuple
print(x, type(x))

x = {"name" : "Tom", "age" : 20, "class": "KTLT"} #dict
print(x, type(x))

x = {"hello", "apple", "banana", "cherry", "cherry"} #set
print(x, type(x))

['apple', 'banana', 'cherry', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
{'name': 'Tom', 'age': 20, 'class': 'KTLT'} <class 'dict'>
{'apple', 'cherry', 'banana', 'hello'} <class 'set'>

In [97]:
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])
print(x[1:3])
print(x[-2:-4:-1])
print(x[:-1], x[:], x[::-1])

4
60
70
90
[70, 80]
[80, 70]
[60, 70, 80] [60, 70, 80, 90] [90, 80, 70, 60]

In [100]:
a = [2, 3, 5]
b = [1, 2]
a.extend(b)
a.append(10)
print(a)

[2, 3, 5, 1, 2, 10]

In [101]:
x = (10, 20, 30, 40, 50)
print(x[0])
print(x[1])
print(x[2])
print(x[-1])

10
20
30
50

In [108]:
animals = {'cat', 'dog'}
print(animals)
print('cat' in animals)
print('fish' in animals)

animals.add('fish')
print(animals)

print('fish' in animals)
print(len(animals))

animals.add("cat")
print(len(animals))

animals.remove('cat')
print(animals)

print(len(animals))

{'cat', 'dog'}
True
False
{'cat', 'dog', 'fish'}
True
3
3
{'dog', 'fish'}
2

In [113]:
s = "Hom nay la thu hai"
print(len(s), list(s))
print(len(set(list(s))), set(list(s)))

18 ['H', 'o', 'm', ' ', 'n', 'a', 'y', ' ', 'l', 'a', ' ', 't', 'h', 'u', ' ', 'h', 'a', 'i']
12 {'m', 'H', 'h', 'i', 'o', 't', ' ', 'a', 'y', 'u', 'l', 'n'}

In [115]:
# dictionary
k = { 'EN':'English', 'FR':'French' }
print(k['EN'])

English

In [118]:
# đếm số lần xuất hiện của ký tự
s = "Hom nay la thu hai"
d_cnt = {}
for ci in list(s):
  if d_cnt.get(ci) is None:
    d_cnt[ci] = 1
  else:
    d_cnt[ci] = d_cnt[ci] + 1

print(d_cnt)

{'H': 1, 'o': 1, 'm': 1, ' ': 4, 'n': 1, 'a': 3, 'y': 1, 'l': 1, 't': 1, 'h': 2, 'u': 1, 'i': 1}

In [122]:
fruits = ["apple", "banana", "cherry"] #lists []
print(fruits)
colors = ("red", "green", "blue") #tuples ()
print(colors)
animals = {'cat', 'dog'} #sets {}
print(animals)
person = {"name" : "Tom", "age" : 20} #dictionaries {}
print(person)

['apple', 'banana', 'cherry']
('red', 'green', 'blue')
{'cat', 'dog'}
{'name': 'Tom', 'age': 20}

In [124]:
import pandas as pd
pd.DataFrame([person])

  name  age
0  Tom   20

## Kết thúc